@use '@/assets/styles/common/main.scss' as *;

.sign-calendar {
    @include wh;
    padding: 20px;
    @include b-r($b-r);
    box-shadow: shadow(m);

    @include c-t {
        background-color: color(c-g);
    }

    .calendar-header {
        @include wh;
        @include flex(c, s-b);

        .calendar-label {
            @include flex(c, c);

            span {
                @include flex(c, c);
                gap: 5px;
            }

            font-size: 17px;

            i {
                padding-top: 1px;
                font-size: 21px;
                font-weight: 600;
            }

            @include c-t {
                color: color(c-p-lighter);
            }

            font-weight: 550;
        }

        .switch-month {
            @include flex(c, c);
            gap: 15px;
            font-size: 14px;


            .current-month-title {
                min-width: 80px;
                text-align: center;


                @include c-t {
                    color: color(c-g5);
                }
            }

            .pre,
            .next {
                padding: 3px 5px;
                @include b-r($b-r);
                cursor: pointer;
                transition: all 0.2s ease;

                &:hover {
                    @include c-t {
                        background-color: color(c-g2, 0.3);
                    }
                }

                @include c-t {
                    color: color(c-g6);
                    background-color: color(c-g1);
                }
            }
        }
    }

    .calendar-main {
        @include wh;
        padding-top: 20px;
        padding-bottom: 5px;

        .calendar-weekdays {
            @include grid(7, 1fr, 0);
            font-size: 14px;
            @include b-r($b-r);

            .weekdays {
                padding: 15px 0;
                @include wh;
                text-align: center;

                @include c-t {
                    color: color(c-g5);
                    background-color: color(c-p-lighter, 0.1);
                    // border-right: 1px solid color(c-g2, 0.5);
                }
            }

            .weekdays:last-child {
                @include c-t {
                    border-right: none;
                }
            }
        }

        .calendar-days {
            @include grid(7, 1fr, 0);
            font-size: 14px;

            @include c-t {
                // border-top: 1px solid color(c-g2, 0.5);
                // border-left: 1px solid color(c-g2, 0.5);
            }

            .day {
                text-align: center;
                padding: 15px 0;
                cursor: pointer;
                transition: all 0.2s ease;
                @include flex(c, c);


                .day-number {
                    @include flex(c, c);
                    @include wh(25);
                    @include b-r(4);
                    font-size: 13px;

                    @include c-t {
                        color: color(c-g);
                        background-color: color(c-s-lighter);
                    }
                }

                @include c-t {
                    color: color(c-g5);
                    background-color: color(c-s-lighter, 0.1);
                    // border-right: 1px solid color(c-g2, 0.5);
                    // border-bottom: 1px solid color(c-g2, 0.5);
                }

                // 非当前月的日期样式
                &.prev-month,
                &.next-month {
                    opacity: 0.3;

                    @include c-t {
                        color: color(c-g4);
                    }
                }

                &.current-month {
                    opacity: 1;
                }

                // 今天的特殊样式
                &.today {
                    .day-number {
                        @include c-t {
                            color: color(c-g);
                            background-color: color(c-p-lighter);
                        }
                    }
                }
            }


        }
    }
}