@use '@/assets/styles/common/main.scss' as *;

.login-form {
    @include wh;
    @include flex(n, c, c);
    padding: 0 50px;
    gap: 20px;

    .login-label {
        font-size: 20px;
        @include flex(c, s-b);

        @include c-t {
            color: color(c-g5);
        }

        .iconfont {
            font-size: 20px;
        }
    }

    form {
        @include wh;
        @include flex(n, c, c);
        gap: 20px;
    }



    .remember-forget {
        @include flex(c, s-b);
        font-size: 14px;

        @include c-t {
            color: color(c-g9, 0.7);
        }
    }

    .checkbox-group {
        @include flex(c, n);
        gap: 5px;
        cursor: pointer;


        span {
            @include flex(c, c);
        }
    }

    .checked {
        @include c-t {
            color: color(c-s);
        }
    }

    .login-btn {

        button {
            @include c-t {
                background-color: color(c-s-light);
                color: color(c-g);
            }

            font-size: 14px;
            @include b-r(3);
            padding: 10px 0;
            letter-spacing: 10px;
            @include wh;
        }
    }
}