@use '@/assets/styles/common/main.scss' as *;

.suite-card {
    @include wh(100p, n);
    @include flex(l, c, c);
    padding: 20px;

    @include c-t {
        background-color: color(c-g);
    }

    .suite-card-header {
        @include flex(c, s-b);
        padding-bottom: 10px;

        @include c-t {
            border-bottom: 1px solid color(c-s);
        }

        .suite-name {
            font-size: 17px;
            font-weight: 600;
        }

        .suite-edit {
            @include c-t {
                color: color(c-p);
            }

            .iconfont {
                font-size: 17px;
            }
        }
    }

    .suite-card-content {
        @include flex;
        padding: 20px 0;
        gap: 20px;
    }

    .suite-content-left {
        @include flex(n, s-b, c);
        gap: 20px;
    }

    .suite-info {
        @include wh;
        @include flex(c, t, c);
        @include wh(210, 270);
        box-shadow: shadow(m);
        @include b-r($b-r);

        .suite-info-top {
            flex: 1;
            @include b-r($b-r, $b-r, 0, 0);
            @include wh;
            @include flex(c, c, c);
            gap: 10px;
            position: relative;

            @include c-t {
                background-color: color(c-p-light);
            }

            .suite-author-avatar {
                @include wh(54);
                @include b-r(6);
                z-index: 99;

                @include c-t {
                    background-color: color(c-g1);
                }

                img {
                    @include wh;
                }
            }

            .suite-author-name {
                font-size: 14px;
                z-index: 99;

                @include c-t {
                    color: color(c-g);
                }
            }

            // // 顶部装饰 - 保留左下角三角形
            // &::before {
            //     content: '';
            //     @include p-a(b0, l0);
            //     @include wh(30p, 70);
            //     background-color: color(c-g0);
            //     clip-path: polygon(0 100%, 0 0, 100% 100%);
            // }

            // 底部装饰 - 保留右上角三角形
            // &::before {
            //     content: '';
            //     @include p-a(b0, r0);
            //     @include wh(30p, 70);
            //     background: color(c-p-light);
            //     clip-path: polygon(0% 100%, 100% 0, 100% 100%);
            // }

            // // 顶部装饰 - 保留左下角三角形
            // &::after {
            //     content: '';
            //     @include p-a(b0, l0);
            //     @include wh(30p, 70);
            //     background-color: color(c-p-light);
            //     clip-path: polygon(0% 100%, 0 0, 100% 100%);
            // }
        }

        .suite-info-bottom {
            flex: 1;
            @include flex(c, t, c);
            @include wh;
            position: relative;
            @include b-r(0, 0, $b-r, $b-r);
            gap: 10px;

            @include c-t {
                background-color: color(c-g0);
            }

            .base-info {
                font-size: 12px;
                z-index: 99;
            }

            .count {
                font-size: 13px;
                margin-top: 12px;
            }

            .coin {
                font-size: 12px;
                padding: 2px 10px;
                @include b-r(10);
                display: flex;
                gap: 3px;

                @include c-t {
                    color: color(c-g);
                    background-color: color(c-p-lighter);
                }
            }

            // 底部装饰 - 保留右上角三角形
            &::before {
                content: '';
                @include p-a(t01, r0);
                @include wh(30p, 70);
                clip-path: polygon(100% 0, 0 0, 100% 100%);

                @include c-t {
                    background: color(c-p-light);
                }
            }

            // 顶部装饰 - 保留左下角三角形
            &::after {
                content: '';
                @include p-a(t01, l0);
                @include wh(30p, 70);
                clip-path: polygon(100% 0%, 0 0, 0% 100%);

                @include c-t {
                    background-color: color(c-p-light);
                }
            }
        }
    }

    .suite-button {
        @include flex(c, c, c);
        padding: 20px;
        gap: 15px;
        padding-bottom: 0;

        button {
            @include wh;
            padding: 10px 15px;
            @include b-r($b-r);

            @include c-t {
                background-color: color(c-p-lighter);
                color: color(c-g);
            }
        }
    }

    .suite-content-right {
        @include flex(n, n, c);
        width: 100%;
    }

    .suite-apps {
        @include grid(auto-fit, minmax(90px, 1fr));
        gap: 40px;
        padding: 10px;

        @include c-t {
            background-color: color(c-g2);
        }

        .suite-app-item {
            @include flex(c, c, c);
            padding: 20px 0;
            gap: 7px;
            @include b-r($b-r);
            font-size: 12px;

            @include c-t {
                color: color(c-g8, 0.6);
                background-color: color(c-g0);
            }

            img {
                @include wh(40);
            }

            .item-category {
                @include b-r($b-r);
                padding: 2px 5px;

                @include c-t {
                    background-color: color(c-p-lightest);
                }
            }

            .item-name {
                width: 100%;
                padding: 0 3px;
                text-align: center;
                font-size: 12px;
                font-weight: 550;
                @include t-e;
            }
        }
    }

    .suite-description {
        @include wh(100p, 100p);
        padding: 10px;
        min-height: 200px;
        font-size: 13px;
        margin-top: 10px;
        padding-bottom: 0;

        @include c-t {
            color: color(c-g8);
            background-color: color(c-g1);
        }
    }
}