@use '@/assets/styles/common/main.scss' as *;

.control-panel {
    @include wh(100p);
    @include flex(c, s-b, c);
    box-shadow: shadow(l);
    @include b-r($b-r);
    padding: 10px;

    .title {
        width: 100%;
        padding: 8px 10px;
        border-radius: 6px 6px 0px 0px;
        font-size: 14px;
        font-weight: 600;

        @include c-t {
            // border: 1px solid adjust-color(c-g1, 15%);
            border-bottom: 0;
            // background-color: adjust-color(c-g1, 20%);
            color: color(c-g10, 0.5);
        }

        span {
            display: flex;
            @include wh(100p);
            padding-left: 5px;

            @include c-t {
                border-left: 2px solid color(c-p);
            }
        }
    }

    .panel-top {
        width: 100%;

        @include c-t {
            background-color: color(c-g, 0.3);
        }

        .actions-wrapper {
            width: 100%;
            display: grid;
            gap: 10px;
            padding: 10px 15px;
            grid-template-columns: repeat(2, 1fr);
            border-radius: 0px 0px 6px 6px;

            @include c-t {
                border: 1px solid adjust-color(c-g1, 15%);
                // @include gradient-color(color(c-g), adjust-color(c-p, 40%), 135deg);
            }
        }

        .actions {
            .action-item {
                padding: 20px;
                border-radius: $b-r;
                gap: 5px;
                font-size: 14px;
                @include flex(c, c);
                box-shadow: shadow(l);
                transition: all 0.3s ease;
                text-decoration: none;

                @include c-t {
                    border: 1px solid adjust-color(c-g, 20%);
                    color: color(c-s);
                }

                &:hover {
                    @include c-t {
                        color: color(c-p);
                        border-color: color(c-p);
                    }

                    box-shadow: shadow(m);
                    transform: translateY(-1px);
                }

                .iconfont {
                    font-size: 20px;

                    @include c-t {
                        color: adjust-color(c-p-dark, -10%);
                    }
                }

                &:hover .iconfont {
                    @include c-t {
                        color: color(c-p);
                    }
                }
            }
        }
    }

    .panel-center {
        width: 100%;

        @include c-t {
            // @include gradient-color(adjust-color(c-g, -2%), adjust-color(c-g, -5%), 135deg);
        }

        .themes {
            width: 100%;
        }

        .themes-selector {
            width: 100%;
            padding: 10px 15px;
            border-radius: 0px 0px 6px 6px;

            .left-icon {
                display: flex;
                align-items: center;
                justify-content: center;

                .iconfont {
                    font-size: 19px;

                    @include c-t {
                        color: color(c-p-dark);
                    }
                }
            }


            :deep(.select-header) {
                padding: 10px;
                background-color: transparent;

                @include c-t {
                    border: 1px solid adjust-color(c-g, 20%);
                    color: color(c-s);
                    color: color(c-s);
                }

                box-shadow: shadow(m);

                &:hover {
                    @include c-t {
                        color: color(c-p);
                        border-color: color(c-p);
                    }

                    box-shadow: shadow(s);


                }
            }

            :deep(.select-options) {
                ul {
                    li {
                        &:hover {
                            @include c-t {
                                background-color: color(c-g5,0.1);
                                color: color(c-s-light);
                            }
                        }
                    }
                }
            }

            :deep(.select-value) {
                @include c-t {
                    color: color(c-s);
                }


            }
        }
    }

    .panel-bottom {
        width: 100%;
        border-radius: $b-r;

        @include c-t {
            // @include gradient-color(adjust-color(c-g, -2%), adjust-color(c-g, -5%), 135deg);
        }

        .modes {
            width: 100%;

            .modes-wrapper {
                border-radius: 0px 0px 6px 6px;
                padding: 10px 15px;
                display: flex;
                gap: 10px;

                @include c-t {
                    border: 1px solid adjust-color(c-g1, 15%);
                    // @include gradient-color(color(c-g), adjust-color(c-p, 40%), 135deg);
                }
            }

            button {
                flex: 1;
                padding: 10px 15px;
                border-radius: $b-r;
                font-weight: 500;
                cursor: pointer;
                font-size: 14px;
                transition: all 0.3s ease;

                @include c-t {
                    border: 1px solid adjust-color(c-g, 15%);
                    // @include gradient-color(color(c-g), adjust-color(c-p, 40%), 135deg);
                    color: color(c-s);
                    box-shadow: shadow(l);
                }

                &:hover {
                    @include c-t {
                        // @include gradient-color(color(c-p), adjust-color(c-p, -10%), 135deg);
                        color: color(c-p-dark);
                        border-color: adjust-color(c-p, -15%);
                        box-shadow: shadow(m);
                    }

                    transform: translateY(-1px);
                }

                &:active {
                    transform: translateY(0);

                    @include c-t {
                        box-shadow: shadow(m);
                    }
                }
            }
        }
    }
}