@use '@/assets/styles/common/main.scss' as *;

.home-banner {
    @include wh(100p);

    .carousel {
        @include wh(100p);
        position: relative;
        overflow: hidden;
        border-radius: $b-r;

        .carousel-inner {
            @include wh(100p);
            display: flex;
            transition: transform 0.3s ease-in-out;
        }

        .carousel-item {
            @include wh(100p);
            flex-shrink: 0;

            img {
                @include wh(100p);
                object-fit: cover;
            }

            &.clone {
                pointer-events: none; // 克隆的图片不响应点击事件
            }
        }

        .carousel-control {
            width: 60px;
            height: 100%;
            position: absolute;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;

            .iconfont {
                color: color(c-g);
                font-size: 20px;
            }

            &:hover {
                opacity: 1;
            }

            &:disabled {
                cursor: not-allowed;
                opacity: 0.3;
            }
        }

        .prev {
            left: 0;
            top: 0;
            opacity: 0;
        }

        .next {
            right: 0;
            top: 0;
            opacity: 0;
        }

        &:hover .carousel-control {
            opacity: 1;
        }

        .carousel-indicator {
            width: 100%;
            height: 50px;
            padding: 0 20px;
            position: absolute;
            bottom: 0px;
            right: 0px;
            @include flex(c,c);
            gap: 10px;

            span {
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: color(c-g, 0.5);
                display: inline-block;
                cursor: pointer;
                transition: all 0.3s ease;

                &.active {
                    background-color: color(c-g);
                    transform: scale(1.2);
                }

                &:hover {
                    transform: scale(1.1);
                    background-color: color(c-g);
                }
            }
        }
    }
}