@use '@/assets/styles/common/main.scss' as *;

.post-form {
    @include wh(100p, 100p);
    padding: 20px;
    @include flex(n, c, c);
    gap: 20px;

    @include c-t {
        background-color: color(c-g);
    }


    .form-header {
        @include wh;
        @include flex;
        gap: 20px;
        max-height: 40px;

        .title-input {
            flex: 1;
        }
    }

    .form-main {
        @include wh;
        @include flex(n, n, c);
        gap: 20px;

        .abstract {
            @include wh(100p,n);
        }

        .upload-img {
            @include wh;
            @include grid(3,1fr);
        }
    }


}