@use '@/assets/styles/common/main.scss' as *;

.developer-submit {
    padding-bottom: 20px;

    @include c-t {
        background-color: color(c-g);
    }

    .form-content {
        margin-top: 10px;
    }

    .app-icon {
        @include wh(n, 100p);
        @include flex(n, c, c);
        gap: 10px;

        .form-content {
            @include wh(105);
            margin-top: 0;
        }
    }

    .app-file-upload {
        @include wh;
        @include flex(n, n, c);
        flex: 1;
    }

    .app-prove {
        flex: 1;

        .form-content {
            @include flex;
            gap: 10px;
            height: 250px;
        }
    }

    .form-label{
        font-size: 14px;
    }

    .submit-button {
        @include wh;
        @include flex(c, r);
        gap: 20px;
        padding: 0 20px;

        button {
            padding: 7px 50px;
            @include b-r($b-r);

            font-size: 14px;

            @include c-t {
                background-color: color(c-s);
                color: color(c-g);
            }
        }

        @include c-t {
            background-color: color(c-g);
        }
    }
}