@use '@/assets/styles/common/main.scss' as *;

.recommend-submit {
    padding-bottom: 20px;

    @include c-t {
        background-color: color(c-g);
    }

    .submit-button {
        @include wh;
        @include flex(c, r);
        gap: 20px;
        padding: 0 20px;

        button {
            padding: 7px 50px;
            @include b-r($b-r);

            font-size: 14px;

            @include c-t {
                background-color: color(c-s);
                color: color(c-g);
            }
        }

        @include c-t {
            background-color: color(c-g);
        }
    }


}