@mixin wh-100 {
    width: 100%;
    height: 100%;
}

@mixin flex-fcc {
    @include flex-c;
    flex-direction: column;
}

@mixin flex-c {
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin flex-fct {
    display: flex;
    align-items: start;
    flex-direction: column;
}

@mixin flex-jcsb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-rc {
    display: flex;
    align-items: center;
    justify-content: end;
}

@mixin flex-lc {
    display: flex;
    align-items: center;
    justify-content: start;
}

@mixin flex-tc {
    display: flex;
    align-items: start;
    justify-content: center;
}

@mixin flex-bc {
    display: flex;
    align-items: end;
    justify-content: center;
}

// 文字溢出显示省略号
@mixin text-ellipsis {
    w-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin grid-layout($column, $column-width, $gap: 20px) {
    display: grid;
    grid-template-columns: repeat($column, $column-width);
    gap: $gap;
}

// 渐变背景
// 用法: @include gradient-bg($color-primary, $brand-primary-light, to right);
// 适用于创建从一个颜色到另一个颜色的渐变背景
@mixin gradient-color($start-color, $end-color, $direction: to right) {
    background: linear-gradient($direction, $start-color, $end-color);
}