@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin wh-100 {
    width: 100%;
    height: 100%;
}

@mixin flex-fcc {
    @include flex-center;
    flex-direction: column;
}

@mixin flex-fct{
    display: flex;
    align-items: start;
    flex-direction: column;
}

@mixin flex-jcsb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-rc {
    display: flex;
    align-items: center;
    justify-content: end;
}

@mixin flex-lc {
    display: flex;
    align-items: center;
    justify-content: start;
}

@mixin flex-tc {
    display: flex;
    align-items: start;
    justify-content: center;
}

@mixin flex-bc {
    display: flex;
    align-items: end;
    justify-content: center;
}

// 文字溢出显示省略号
@mixin text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}