// 头部组件
$header-height: 72px;
$header-width: 1300px;
// 头部组件导航区域
$nav-item-num: 4;
$nav-item-width: 120px;

$home-top-height: 450px;
$home-banner-width:860px;

$border-radius: 6px;

$font-family: 'Arial', sans-serif;